{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}My Django Project{% endblock %}</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        {% block javascript %}{% endblock %}
    </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">
            <!-- SVG Icon here -->
            <img src="{% static 'logo.svg' %}" alt="Logo" style="height: 30px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}"><i class="fas fa-home"></i> Hem <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard' %}"><i class="fas fa-chart-line"></i> Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'search' %}"><i class="fas fa-search"></i> Sök</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'papers' %}"><i class="fas fa-newspaper"></i> Artiklar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'authors' %}"><i class="fas fa-user-friends"></i> Författare</a>
                </li>
            </ul>
        </div>
    </nav>

    <main role="main" class="container-fluid pt-4">
        <div class="row">
            <div class="col-md-12"> <!-- Changed to full width -->
                {% block content %}
                <!-- This block will be overridden by child templates -->
                {% endblock %}
            </div>
        </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">Place sticky footer content here.</span>
        </div>
    </footer>
</body>
</html>
